{% extends 'base.html.twig' %}


{# {% block title %}Liste des recette{% endblock %} #}

{% block title "Home" %} 
{% block body %}
<h1 class="text-center"> benvenuto nella pagina Home <h1/>
<div class="d-flex justify-content-center align-items-center">
<img class="mt-5 w-50 px" src="{{ asset('img/tajin.jpg') }}" alt="">
</div>
{% endblock %}

