{% extends 'base.html.twig' %}
{% block title 'Add Recipe'%}
{% block body %}
    <div class = "row">
        <div class= "col-md-6 mx-auto">
            <h1 align="center">Créer une nouvelle Recette</h1>          
            {{form(monForm)}}
        </div>
    </div>
{% endblock %}





